<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.didi.order.trade.dao.mapper.DealRecordDtoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.didi.order.trade.domain.DealRecordDto" >
    <id column="stream_id" property="streamId" jdbcType="BIGINT" />
    <result column="deal_id" property="dealId" jdbcType="BIGINT" />
    <result column="trade_id" property="tradeId" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="CHAR" />
    <result column="sub_category" property="subCategory" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.didi.order.trade.domain.DealRecordDto" extends="BaseResultMap" >
    <result column="source" property="source" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    stream_id, deal_id, trade_id, category, sub_category, create_time
  </sql>
  <sql id="Blob_Column_List" >
    source
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.com.didi.order.trade.domain.DealRecordDtoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from deal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.didi.order.trade.domain.DealRecordDtoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from deal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from deal_record
    where stream_id = #{streamId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from deal_record
    where stream_id = #{streamId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.didi.order.trade.domain.DealRecordDtoExample" >
    delete from deal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.didi.order.trade.domain.DealRecordDto" >
    insert into deal_record (stream_id, deal_id, trade_id, 
      category, sub_category, create_time, 
      source)
    values (#{streamId,jdbcType=BIGINT}, #{dealId,jdbcType=BIGINT}, #{tradeId,jdbcType=VARCHAR}, 
      #{category,jdbcType=CHAR}, #{subCategory,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{source,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.didi.order.trade.domain.DealRecordDto" >
    insert into deal_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="streamId != null" >
        stream_id,
      </if>
      <if test="dealId != null" >
        deal_id,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="subCategory != null" >
        sub_category,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="streamId != null" >
        #{streamId,jdbcType=BIGINT},
      </if>
      <if test="dealId != null" >
        #{dealId,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=CHAR},
      </if>
      <if test="subCategory != null" >
        #{subCategory,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        #{source,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.didi.order.trade.domain.DealRecordDtoExample" resultType="java.lang.Integer" >
    select count(*) from deal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update deal_record
    <set >
      <if test="record.streamId != null" >
        stream_id = #{record.streamId,jdbcType=BIGINT},
      </if>
      <if test="record.dealId != null" >
        deal_id = #{record.dealId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeId != null" >
        trade_id = #{record.tradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=CHAR},
      </if>
      <if test="record.subCategory != null" >
        sub_category = #{record.subCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update deal_record
    set stream_id = #{record.streamId,jdbcType=BIGINT},
      deal_id = #{record.dealId,jdbcType=BIGINT},
      trade_id = #{record.tradeId,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=CHAR},
      sub_category = #{record.subCategory,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update deal_record
    set stream_id = #{record.streamId,jdbcType=BIGINT},
      deal_id = #{record.dealId,jdbcType=BIGINT},
      trade_id = #{record.tradeId,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=CHAR},
      sub_category = #{record.subCategory,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.didi.order.trade.domain.DealRecordDto" >
    update deal_record
    <set >
      <if test="dealId != null" >
        deal_id = #{dealId,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=CHAR},
      </if>
      <if test="subCategory != null" >
        sub_category = #{subCategory,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where stream_id = #{streamId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.didi.order.trade.domain.DealRecordDto" >
    update deal_record
    set deal_id = #{dealId,jdbcType=BIGINT},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      category = #{category,jdbcType=CHAR},
      sub_category = #{subCategory,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=LONGVARCHAR}
    where stream_id = #{streamId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.didi.order.trade.domain.DealRecordDto" >
    update deal_record
    set deal_id = #{dealId,jdbcType=BIGINT},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      category = #{category,jdbcType=CHAR},
      sub_category = #{subCategory,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where stream_id = #{streamId,jdbcType=BIGINT}
  </update>
</mapper>